@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');


body,
button,
select {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, 'Cinzel Decorative', cursive;
  ;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.870);
  background-color: #ffffff7c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: auto;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff7b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.gradient {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('assets/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

.gradient .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 0;
}

.gradient>*:not(.overlay) {
  position: relative;
  z-index: 1;
}

.gradient .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(75deg,
      rgba(174, 0, 1, 0.3),
      rgba(255, 205, 0, 0.3),
      rgba(25, 89, 5, 0.3),
      rgba(192, 192, 192, 0.3),
      rgba(0, 38, 84, 0.3));
  background-size: 400% 400%;
  animation: gradientAnimation 18s ease infinite;
  z-index: 1;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.magic-button {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  font-size: 11px;
  padding: 8px 10px;
  color: #fff2d9;
  background: linear-gradient(145deg, #8b5e3c, #3e2e1e);
  border: 2px solid #ffcc00;
  border-radius: 8px;
  text-shadow: 1px 1px 2px #000;
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.5), inset 0 0 5px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.magic-button:hover {
  background: linear-gradient(145deg, #a1704e, #5a422e);
  color: #ffe066;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  transform: translateY(-2px);
  border-color: #6e0f77;
}

.magic-button:focus,
.magic-button:focus-visible {
  outline: 4px auto darkgreen;
}

.error-message {
  color: red;
  margin-top: 1rem;
}


.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border: solid 3px #d8b97a;
  background-color: rgba(255, 253, 240, 0.95);
  padding: 60px;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 223, 110, .6);
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.modal-content.del-skill-modal h2 {
  color: rgb(203, 34, 34);
}

.modal-content.send-con-modal h2 {
  color: rgb(138, 108, 59);
}

.modal-content h4 strong{
  color: rgb(138, 108, 59);
  font-size: larger;
}

.modal-textarea {
  width: 400px;
  height: 200px;
  resize: none;
  padding: 0.5rem;
  border: 1px solid #d8b97a;
  border-radius: 8px;
  color: #3e2e1c;
  font-family: 'Cinzel', serif;
  box-sizing: border-box;
}
