.dashboard-container {
    /* background-image: url('/images/scroll-background.png');  RIC: what dis? */
    /* optional bg image */
    background-color: #f5f2e9;
    padding: 2rem;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.browse-container {
    background-color: rgba(255, 253, 240, 0.96);
    border: 2px solid #d8b97a;
    border-radius: 16px;
    padding: 2rem;
    width: 100%;
    max-width: 90%;
    box-shadow: 0 0 20px rgba(255, 223, 110, 0.4);
    font-family: 'Cinzel', serif;
}

.browse-container h2 {
    color: rgb(138, 108, 59);
    font-family: 'Cinzel Decorative';
}

.card-scroll-container {
    display: flex;
    /* flex-direction: column; */
    overflow-x: auto;
    gap: 12px;
    scrollbar-color: white;
    max-width: 100%;
    justify-content: space-evenly;
}

.user-card {
    display: flex;
    flex-direction: column;
    border: 2px solid #d8b97a;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(255, 223, 110, 0.4);
    margin: 8px;
    padding: 5px;
    min-width: 210.531px;
    cursor: pointer;
}


.user-header {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid #d8b97a;
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 6px;
    margin-right: 6px;
}

.card-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.3);
    margin: .2rem;
    margin-left: 0.5rem;
}

.card-ul {
    text-align: left;
    margin-top: 12px;
    margin-bottom: 8px;
}

.browse-buttons {
    display: flex;
    justify-content: space-between;
    margin-inline: 50px;
    margin-bottom: 4px;
}

.category-selection select {
    width: 100%;
    max-width: 220px;
    padding: 0.3rem;
    border: 2px solid #d8b97a;
    border-radius: 8px;
    background-color: #fffef9;
    color: #3e2e1c;
    font-family: 'Cinzel', serif;
}
