.header {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* color: rgba(255, 255, 255, 0); */
    z-index: 1;
    overflow: hidden;
    border-bottom: 4px solid #d8b97a;
    box-shadow: 0 0 20px rgba(255, 223, 110, 0.4);
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 0;
    gap: 1rem;
    min-height: 160px;
    position: relative;
}


.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/background.jpeg') no-repeat center center;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.header-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* RIC: check for overstacking */
    justify-content: space-between;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: left;
    height: 100%;
    align-items: center;
    min-width: 180px;
    flex-shrink: 0;
}

.header-left img {
    align-self: center;
}

.header-center {
    /* position: relative; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* top: 1rem; */
    display: flex;
    flex-direction: column;
    /* RIC: necessary? */
    flex-wrap: nowrap;
    /* RIC: check for overstacking */
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0 1rem;
    z-index: 2;
    /* ct */
}

.header-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* RIC: check for overstacking */
    justify-content: flex-end;
    min-width: 180px;
    flex-shrink: 0;
}

.header-nav-buttons {
    display: flex;
    flex-direction: row;
    /* RIC: necessary? */
    flex-wrap: nowrap;
    /* RIC: check for overstacking */
    gap: 10px;
}

.header-logo {
    display: block;
    max-width: 200px;
    height: auto;
    margin: 25px auto 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.3);
}

.header-logo:hover {
    animation: shimmer 1.5s infinite;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.3);
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}

.header-prof-pic {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #d8b97a;
    box-shadow: 0 0 10px rgba(255, 217, 102, 0.8);
    margin-bottom: 1rem;
}

.greet {
    color: rgb(138, 108, 59);
    font-family: 'Cinzel Decorative';
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-left,
    .header-right,
    .header-center {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .header-logo {
        max-width: 150px;
        margin: 1rem auto;
    }

    .header-nav-buttons {
        flex-wrap: wrap;
        justify-content: center;
    }
}
